@import "../../var.css";
.container{
     background: #582b7e;
     color: var(--color-text);
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     padding-top: 58px 10%;
}

.Text h2{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
}
.Text h3{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}
.Links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}
.Link{
    display: flex;
    align-items: center;
    list-style: none;
    
}
.Link a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 400px;
    letter-spacing: 1.5px;
    margin-left: 15px;
}
.attributes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 5px;
    background: #582b7e;

}
.attributes a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.514);
}

@media screen and (max-width: 830px) {
    .container{
        flex-direction: column;
        gap: 23px;

    }
    .Text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Text h2{
        font-size: 60px;
    }
    .Links{
        align-items: center
       
        
    }
}