:root{
    /* colors */
    --color-text: #fff;
    --color-primary: #8a66cc;
    --color-secondary: #5b3b92;
    --color-dark: #301c59;
    --color-bg: #32144b;
    /* fonts */

    --font-roboto: "Roboto";
    --font-outfit: "Outfit";

}